<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.board">

	<sql id="test">
		SEQ1 = #{seq}
	</sql>

<!-- 	<select id="getAllList" resultType="HkDto" parameterType="int"> -->
<!-- 		SELECT SEQ,ID,NAME,TITLE,CONTENT,REGDATE  -->
<!-- 		FROM HKBOARD  -->
<!-- 		<where> -->
<!-- 			<if test="seq!=null"> -->
<!-- 			    <include refid="test" /> -->
<!-- 			</if> -->
<!-- 		</where> -->
<!-- 	    ORDER BY REGDATE DESC -->
<!-- 	</select> -->

	<resultMap type="HkDto" id="HkDtoMap">
		<result column="SEQ" property="seq" />
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PRICE" property="price" />
		<result column="CONTENT" property="content" />
		<result column="IMG_URL" property="img_url" />
		<result column="REGDATE" property="regdate" />
<!-- 		<collection property="dtoMap" resultMap="dtoMap"></collection> -->
	</resultMap>

	<resultMap type="Map" id="dtoMap">
		<result column="SEQ" property="seq" />
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PRICE" property="price" />
		<result column="CONTENT" property="content" />
		<result column="IMG_URL" property="img_url" />
		<result column="REGDATE" property="regdate" />
	</resultMap>
	
	<select id="getAllList" resultMap="HkDtoMap" >
		<![CDATA[
			SELECT SEQ,ID,NAME,PRICE,CONTENT,IMG_URL,REGDATE 
			FROM DETAIL
			ORDER BY REGDATE DESC		
		]]>
	</select>
	
	<select id="getboard" parameterType="int" resultType="HkDto">
		<![CDATA[
			SELECT SEQ,ID,NAME,PRICE,CONTENT,IMG_URL,REGDATE 
			FROM DETAIL WHERE SEQ = #{seq}
		]]>
	</select>
	
	<insert id="insertboard" parameterType="HkDto">
		<![CDATA[
		INSERT INTO DETAIL (SEQ, ID, NAME, PRICE, CONTENT, IMG_URL, REGDATE)
		VALUES (DETAIL_SEQ.NEXTVAL, #{id} , #{name} , #{price}, #{content}, #{img_url} ,SYSDATE) 
		]]>
	</insert>

	<update id="updateboard" parameterType="HkDto">
		UPDATE DETAIL SET 
		TITLE=#{title}, CONTENT=#{content}, REGDATE=SYSDATE 
		WHERE SEQ=#{seq} 
	</update>
	
	<delete id="deleteboard" parameterType="int">
		DELETE FROM DETAIL WHERE SEQ=#{seq}
	</delete>
	
	<delete id="muldel" parameterType="Map">
		DELETE FROM DETAIL WHERE SEQ IN 
		<foreach collection="chks" item="i" separator="," open="(" close=")">
			#{i}
		</foreach>
	</delete>
</mapper>









